# Archivos de Sistema Operativo
.DS_Store
Thumbs.db

# Configuración de Editores (VSCode, PHPStorm...)
.idea/
.vscode/
*.swp
*.swo

# Dependencias (Por seguridad, aunque ya estén en los gitignore de las subcarpetas)
node_modules/
vendor/

# Variables de Entorno (Secretos)
.env.local
.env.*.local
.env

# Base de datos
# automocion.sql

backups/*
!backups/.gitkeep

# Scripts de inicialización con datos sensibles
docker/init-db.sh